 nav ul
{
	margin-left:48%;
}
nav ul li a{
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
	}	

main {
text-align:center;	
width:auto;
color:darkgreen;
margin-left:20%;
margin-right:20%;
margin-top:0%;
font-family: "Comic Sans MS";
font-size:1.25em;


}
body{
width: 100%;
}


#about 
{
	background-color: #C0C0C0;
}

footer
{ 
background-color: lightblue; 
text-align: center;
} 

table tr td a
{
text-decoration:none;
}

#size
{
	font-size:2em;
}
nav
 {
	
	background-color: #C0C0C0;		
	padding: 0.5%;
	width: 100%;
	overflow: auto;
	margin-top:0.5%;
	margin-bottom: 0.1%;
	
}

nav li
 {
	 
	display:inline;
	margin:0.3em;
	font-size: 1.2em;
	
}
h1 {
	color:darkgreen;
 }
 h2{
	color:darkgreen;
 }
nav ul li a
{
	text-decoration:none;
	color:darkgreen;
}	
@media (min-width: 340px) and (max-width: 768px) {
  
  nav li {
    display: inline-block;
    margin: 0.2em;
    padding: 0.2em;
    width: 97%;
    font-size: 1.2em;
    text-align: center;
}
nav ul{
	text-align:center;
	width: 80%;
    margin: 2% auto;
}
  .desktop-only{
	  display:none;
  }
  nav ul
{
	margin-left:auto;
}
}
@media (min-width: 769px) and (max-width:1126px) {
  
  .desktop-only{
	  display:none;
  }
  nav ul{
	text-align:center;
	width: 80%;
    margin: 2% auto;
}
nav ul
{
	margin-left:auto;
}


}
